body{
    background-color:whitesmoke;
    display:flex;
    align-items: center;
    padding: 40px;
    justify-content: center;
}





.container{
    width: 300px;
    height: 600px;
    background-color:azure;
    padding-top: 30px;
    border: 50px solid;
    border-top: 50px solid;
    border-bottom: 50px solid;
    border-color: blue;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    
    

    
    
}

.h1form{
    color: blue;
    padding-left: 20px;
    font-size: 25px;
}
.formDesign{
    font-size: 15px;
    padding-left: 19px;
    color: blue;
}

.formDesign input{
    height: 50px;
    border: 3 rem solid;
    border-color: blue;
    width: 180px;
    margin-bottom: 4px;

}
 .formDesign  input label{
    display: block;
    font-weight: 400px;
    align-items: normal;
    color:#555;
}
#errorname {
    color: brown;
}


#errorusername {
    color: brown;
}
#errorpass {
    color: brown;
}
  
#errorcpass {
    color: brown;
}
#erroremail {
    color: brown;
}
#errorphone {
    color: brown;
}
  